{% extends 'main.html' %}
{% block content %}
<main class="updatecontract">
    <a href="{% url 'userhome' %}">Вернуться на домашнюю страницу</a>
    <h3>Создать контракт</h3>
    <div>
        <form class="form" action="" method="POST">
            {% csrf_token %}
            

            <div class="formcompany">
                <label for="id_name_contract">Название контракта:</label>
                {{ form.name_contract }}
            </div>
            
            <select name="company" id="company">
            <option value="">Select a company</option>
            {% for company in companies %}
             <option value="{{ company.id }}">{{ company.name }}</option>
            {% endfor %}
            </select>
            
            <input type="submit" value="Создать" />
        </form>
    </div>
</main>
{% endblock %}