{% extends 'main.html' %}

{% block content %}
=======
<main class="loginpage">
    <div>
       <div>
        <div>
             {% if page == 'loginpage' %}
             
                 <form method="POST" action="">
                     {% csrf_token %}
             
                     <label>Логин:</label>
                     <input type="text" name="username" placeholder=" " />
             
                     <label>Пароль:</label>
                     <input type="password" name="password" placeholder=" " />
             
                     <input type="submit" value="Login" />
                 </form>
             
        </div>
       </div>
    </div>
</main class="loginpage">
{% endblock %}