{% extends 'main.html' %}
{% block content %}
<main class="supticket">
           <a href="{% url 'userhome' %}">Домашка</a>
    <div>
     <form class="form" action="" method="POST">
           {% csrf_token %}
                <div class="formsupticketform">
            <label for="Company_company_name">Выберите компанию</label>
            <input required type="text" value="{{Companies.company_name}}" name="Company_name" list="company-list" />
            <datalist id="company-list">
              <select id="company.company_name">
                {% for company_name in company_names %}
                <option value="{{Companies.name_company}}">{{Companies.name_company}}</option>
                {% endfor %}
              </select>
            </datalist>

            <label for="contract_name">Выберите контракт</label>
            <input required type="text" value="{{Contracts.name_contract}}" name="name_contract" list="company-list" />
            <datalist id="contracts-list">
              <select id="contracts.name_contract">
                {% for name_contract in name_contracts %}
                <option value="{{Contracts.name_contract}}">{{Contracts.name_contract}}</option>
                {% endfor %}
              </select>
            </datalist>

          </div>
           <div class="formsupport">
             <label for="supportticket_description">Опишите вашу проблему:</label>
             <input type="text" name="supportticket_description" required>
             {{SupporTicket.description}}
           </div>
                  <input type="submit" value="Submit" />
     </form>
   </div>
</main>
{% endblock %}