{% extends 'main.html' %}
{% block content %}

<main class="ticketslist">
             <a href="{% url 'userhome' %}">Вернуться на домашнюю страницу</a>
    <div>
            <div class="company-item">
                <h3>{{ ticket.description }}</h3>
            </div>
            <div> 
                <div class="supticklink">
                    <a href="{% url 'supportticketform' %}">Создать обращение в поддержку</a>  
                </div>
            </div>
    </div>
 
<<main class="ticketslist">






{% endblock content%}