{% extends 'main.html' %}
{% block content %}
<main class="homepage">
        <div>
                <div>
                        <div>
                                <li><a href="{% url 'contracts' %}">Контракты</a></li>
                                <li><a href="{% url 'companies' %}">Компании</a></li>
                                <li><a href="{% url 'tickets' %}">Обращения в поддержку</a></li>
                        </div>
                </div>
        </div>
</main class="homepage">
{% endblock content%}