

.container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}

/* компании */


/* контракты */
.contractform_layout{

    background-color: aquamarine;
}

.contractsgrid{

}
/* сапортытикеты */

.supportsform_layout{
  background-color: aquamarine;

}


/* домстраница */
.mainpage_layout{
background-color: aquamarine;

}


/* юзерстраница */



/* чатик */