


.container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}


.btn_grid{


}   

/* контракты */
.contractform_layout{

    background-color: aquamarine;
}


.btn{
  background-color: transparent;
  border-radius: 5px;
}

/* сапортытикеты */

.supportsform_layout {


}